@page "/todo-list"
@inject HttpClient Http;
@using ToDo.Client.ViewModel;
@using ToDo.Models;

<h1>ToDo List</h1>

@if (toDos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ToDo</th>
                <th>completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDo in toDos)
            {
                <tr>
                    <td>@toDo.Title</td>
                    <td>@toDo.Completed</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    ToDoModel[] toDos;

    public readonly string baseUrl = new BaseUrl().Url;

    protected override async Task OnInitAsync()
    {
        toDos = await Http.GetJsonAsync<ToDoModel[]>(baseUrl + "todo");
    }
}
